//	padding & margin
.ml-0 {
    margin-left: 0px !important
}

.ml-10 {
    margin-left: 10px !important
}

.ml-15 {
    margin-left: 15px !important
}

.ml-20 {
    margin-left: 20px !important
}

.ml-30 {
    margin-left: 30px !important
}

.ml-40 {
    margin-left: 40px !important
}

.ml-48 {
    margin-left: 48px !important
}

.ml-50 {
    margin-left: 50px !important
}

.ml-60 {
    margin-left: 60px !important
}

.ml-70 {
    margin-left: 70px !important
}

.ml-80 {
    margin-left: 80px !important
}

.ml-90 {
    margin-left: 90px !important
}

.ml-100 {
    margin-left: 100px !important
}

/*------Margin right-------*/
.mr-0 {
    margin-right: 0px !important
}

.mr-10 {
    margin-right: 10px !important
}

.mr-15 {
    margin-right: 15px !important
}

.mr-20 {
    margin-right: 20px !important
}

.mr-30 {
    margin-right: 30px !important
}

.mr-40 {
    margin-right: 40px !important
}

.mr-50 {
    margin-right: 50px !important
}

.mr-60 {
    margin-right: 60px !important
}

.mr-70 {
    margin-right: 70px !important
}

.mr-80 {
    margin-right: 80px !important
}

.mr-90 {
    margin-right: 90px !important
}

.mr-100 {
    margin-right: 100px !important
}

/*------Margin Top-------*/
.mt-0 {
    margin-top: 0px !important
}

.mt-7 {
    margin-top: 7px !important
}

.mt-10 {
    margin-top: 10px !important
}

.mt-15 {
    margin-top: 15px !important
}

.mt-20 {
    margin-top: 20px !important
}

.mt-30 {
    margin-top: 30px !important
}

.mt-35 {
    margin-top: 35px !important
}

.mt-40 {
    margin-top: 40px !important
}

.mt-45 {
    margin-top: 45px !important
}

.mt-50 {
    margin-top: 50px !important
}

.mt-52 {
    margin-top: 52px !important
}

.mt-60 {
    margin-top: 60px !important
}

.mt-70 {
    margin-top: 70px !important
}

.mt-80 {
    margin-top: 80px !important
}

.mt-90 {
    margin-top: 90px !important
}

.mt-100 {
    margin-top: 100px !important
}

.mt-110 {
    margin-top: 110px !important
}

.mt-180 {
    margin-top: 180px !important
}

/*------Margin Bottom-------*/
.mb-0 {
    margin-bottom: 0px !important
}

.mb-5 {
    margin-bottom: 5px !important
}

.mb-7-5 {
    margin-bottom: 7.5px !important
}

.mb-10 {
    margin-bottom: 10px !important
}

.mb-15 {
    margin-bottom: 15px !important
}

.mb-20 {
    margin-bottom: 20px !important
}

.mb-25 {
    margin-bottom: 25px !important
}

.mb-30 {
    margin-bottom: 30px !important
}

.mb-35 {
    margin-bottom: 35px !important
}

.mb-40 {
    margin-bottom: 40px !important
}

.mb-50 {
    margin-bottom: 50px !important
}

.mb-58 {
    margin-bottom: 58px !important
}

.mb-60 {
    margin-bottom: 60px !important
}

.mb-70 {
    margin-bottom: 70px !important
}

.mb-80 {
    margin-bottom: 80px !important
}

.mb-83 {
    margin-bottom: 83px !important
}

.mb-85 {
    margin-bottom: 85px !important
}

.mb-90 {
    margin-bottom: 90px !important
}

.mb-100 {
    margin-bottom: 100px !important
}

.mtb-15 {
    margin-top: 15px !important;
    margin-bottom: 15px !important
}

/*------Padding all-------*/
.p-60 {
    padding: 60px !important
}

/*------Padding left-------*/
.pl-0 {
    padding-left: 0px !important
}

.pl-10 {
    padding-left: 10px !important
}

.pl-15 {
    padding-left: 15px !important
}

.pl-20 {
    padding-left: 20px !important
}

.pl-30 {
    padding-left: 30px !important
}

.pl-40 {
    padding-left: 40px !important
}

.pl-50 {
    padding-left: 50px !important
}

.pl-60 {
    padding-left: 60px !important
}

.pl-70 {
    padding-left: 70px !important
}

.pl-80 {
    padding-left: 80px !important
}

.pl-90 {
    padding-left: 90px !important
}

.pl-100 {
    padding-left: 100px !important
}

/*------Padding right-------*/
.pr-0 {
    padding-right: 0px !important
}

.pr-10 {
    padding-right: 10px !important
}

.pr-15 {
    padding-right: 15px !important
}

.pr-20 {
    padding-right: 20px !important
}

.pr-30 {
    padding-right: 30px !important
}

.pr-40 {
    padding-right: 40px !important
}

.pr-50 {
    padding-right: 50px !important
}

.pr-60 {
    padding-right: 60px !important
}

.pr-70 {
    padding-right: 70px !important
}

.pr-80 {
    padding-right: 80px !important
}

.pr-90 {
    padding-right: 90px !important
}

.pr-100 {
    padding-right: 100px !important
}

/*------Padding Left Right-------*/
.plr-0 {
    padding-left: 0px !important;
    padding-right: 0px !important
}

.plr-15 {
    padding-left: 15px !important;
    padding-right: 15px !important
}

.plr-25 {
    padding-left: 25px !important;
    padding-right: 25px !important
}

.plr-35 {
    padding-left: 35px !important;
    padding-right: 35px !important
}

.plr-40 {
    padding-left: 40px !important;
    padding-right: 40px !important
}

.plr-45 {
    padding-left: 45px !important;
    padding-right: 45px !important
}

.plr-50 {
    padding-left: 50px !important;
    padding-right: 50px !important
}

.plr-80 {
    padding-left: 80px !important;
    padding-right: 80px !important
}

.plr-100 {
    padding-left: 100px !important;
    padding-right: 100px !important
}

/*------Padding Top-------*/
.pt-0 {
    padding-top: 0px !important
}

.pt-10 {
    padding-top: 10px !important
}

.pt-15 {
    padding-top: 15px !important
}

.pt-20 {
    padding-top: 20px !important
}

.pt-25 {
    padding-top: 25px !important
}

.pt-30 {
    padding-top: 30px !important
}

.pt-40 {
    padding-top: 40px !important
}

.pt-45 {
    padding-top: 45px !important
}

.pt-50 {
    padding-top: 50px !important
}

.pt-60 {
    padding-top: 60px !important
}

.pt-70 {
    padding-top: 70px !important
}

.pt-75 {
    padding-top: 75px !important
}

.pt-80 {
    padding-top: 80px !important
}

.pt-90 {
    padding-top: 90px !important
}

.pt-94 {
    padding-top: 94px !important
}

.pt-95 {
    padding-top: 95px !important
}

.pt-100 {
    padding-top: 100px !important
}

.pt-110 {
    padding-top: 110px !important
}

.pt-140 {
    padding-top: 140px !important
}

/*------Padding-------*/
.p-15 {
    padding: 15px !important
}

.p-50 {
    padding: 50px !important
}

.p-48 {
    padding: 48px !important
}

.p-40 {
    padding: 40px !important
}

.p-38 {
    padding: 38px !important
}

.p-30 {
    padding: 30px !important
}

/*------Padding Bottom-------*/
.pb-0 {
    padding-bottom: 0px !important
}

.pb-10 {
    padding-bottom: 10px !important
}

.pb-15 {
    padding-bottom: 15px !important
}

.pb-20 {
    padding-bottom: 20px !important
}

.pb-25 {
    padding-bottom: 25px !important
}

.pb-30 {
    padding-bottom: 30px !important
}

.pb-40 {
    padding-bottom: 40px !important
}

.pb-45 {
    padding-bottom: 45px !important
}

.pb-50 {
    padding-bottom: 50px !important
}

.pb-55 {
    padding-bottom: 55px !important
}

.pb-58 {
    padding-bottom: 58px !important
}

.pb-60 {
    padding-bottom: 60px !important
}

.pb-65 {
    padding-bottom: 65px !important
}

.pb-70 {
    padding-bottom: 70px !important
}

.pb-75 {
    padding-bottom: 75px !important
}

.pb-80 {
    padding-bottom: 80px !important
}

.pb-90 {
    padding-bottom: 90px !important
}

.pb-95 {
    padding-bottom: 95px !important
}

.pb-100 {
    padding-bottom: 100px !important
}

.pb-110 {
    padding-bottom: 110px !important
}

.pb-120 {
    padding-bottom: 120px !important
}

.pb-130 {
    padding-bottom: 130px !important
}

.pb-140 {
    padding-bottom: 140px !important
}

/*------Padding  Top Bottom-------*/
.ptb-0 {
    padding-top: 0px !important;
    padding-bottom: 0px !important
}

.ptb-5 {
    padding-top: 5px !important;
    padding-bottom: 5px !important
}

.ptb-10 {
    padding-top: 10px !important;
    padding-bottom: 10px !important
}

.ptb-11 {
    padding-top: 11px !important;
    padding-bottom: 11px !important
}

.ptb-12 {
    padding-top: 12px !important;
    padding-bottom: 12px !important
}

.ptb-15 {
    padding-top: 15px !important;
    padding-bottom: 15px !important
}

.ptb-20 {
    padding-top: 20px !important;
    padding-bottom: 20px !important
}

.ptb-25 {
    padding-top: 25px !important;
    padding-bottom: 25px !important
}

.ptb-30 {
    padding-top: 30px !important;
    padding-bottom: 30px !important
}

.ptb-40 {
    padding-top: 40px !important;
    padding-bottom: 40px !important
}

.ptb-45 {
    padding-top: 45px !important;
    padding-bottom: 45px !important
}

.ptb-50 {
    padding-top: 50px !important;
    padding-bottom: 50px !important
}

.ptb-55 {
    padding-top: 55px !important;
    padding-bottom: 55px !important
}

.ptb-58 {
    padding-top: 58px !important;
    padding-bottom: 58px !important
}

.ptb-60 {
    padding-top: 60px !important;
    padding-bottom: 60px !important
}

.ptb-70 {
    padding-top: 70px !important;
    padding-bottom: 70px !important
}

.ptb-80 {
    padding-top: 80px !important;
    padding-bottom: 80px !important
}

.ptb-90 {
    padding-top: 90px !important;
    padding-bottom: 90px !important
}

.ptb-92 {
    padding-top: 92px !important;
    padding-bottom: 92px !important
}

.ptb-100 {
    padding-top: 100px !important;
    padding-bottom: 100px !important
}

.ptb-110 {
    padding-top: 110px !important;
    padding-bottom: 110px !important
}

.ptb-118 {
    padding-top: 118px !important;
    padding-bottom: 118px !important
}

.ptb-120 {
    padding-top: 120px !important;
    padding-bottom: 120px !important
}

.ptb-130 {
    padding-top: 130px !important;
    padding-bottom: 130px !important
}

.ptb-132 {
    padding-top: 132px !important;
    padding-bottom: 132px !important
}

.ptb-140 {
    padding-top: 140px !important;
    padding-bottom: 140px !important
}

.ptb-150 {
    padding-top: 150px !important;
    padding-bottom: 150px !important
}

.ptb-160 {
    padding-top: 160px !important;
    padding-bottom: 160px !important
}

.ptb-180 {
    padding-top: 180px !important;
    padding-bottom: 180px !important
}

.ptb-200 {
    padding-top: 200px !important;
    padding-bottom: 200px !important
}

.ptb-240 {
    padding-top: 240px !important;
    padding-bottom: 240px !important
}

@media (min-width: 992px) {
    .pl-md-0 {
        padding-left: 0 !important
    }

    .pr-md-0 {
        padding-right: 0 !important
    }

    .pl-md-30 {
        padding-left: 30px !important
    }

    .pr-lg-30 {
        padding-right: 30px !important
    }

    .mb-md-100 {
        margin-bottom: 100px !important
    }
}

@media (max-width: 768px) {
    .mb-sm-30 {
        margin-bottom: 30px;
    }
}